# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local environment files (NEVER commit secrets to git)
.env
.env*.local
.env.development
.env.test
.env.production

# Vercel deployment artifacts
.vercel

# Operating System files
.DS_Store
Thumbs.db
*.pem

# IDEs
.idea/
.vscode/
*.swp
*.swo
